body{
    background-color: rgba(0, 1, 1, 0.63);
}
.calc {
    background-color: #1e293b;
    text-align: center;
    margin: 24px;
    padding: 15px;
    border-style: solid;
    border-width: 6px;
}

.userbuttons {
    background-color: rgba(66, 113, 159, 0.814);
    margin: 24px;
    padding: 15px;
}

#num1,
#num2 {
    color: white;
    text-align: center;
    background-color: rgba(111, 187, 114, 0.856);
}

#button {

    background-color: #3b82f6;
    margin: 5px;
    font-size: 15px;
}

#result {
    color: #0f172a;
    background-color: rgba(111, 187, 114, 0.856);
    margin: 24px;
    padding: 15px;
}